html,
body,
#react-root {
  height: 100%;
}

body {
  font-family: 'Blinker', sans-serif;
  margin: 0px;
}

.centerAbout {
  text-align: center;
}

.moveRight {
  text-align: center;
}

.alert {
  box-sizing: border-box;
  padding: 15px 10px;
  margin: 15px 0;
  border: 2px solid #e01616;
  background-color: #efefef;
  border-radius: 3px;
  color: #e01616;
  font-size: 0.8rem;
}

 .formPanel {
  text-align: center;
} 

