li {
    list-style: none;
}

.toggleRight {
  display: flex;
  justify-content: center;
}

.connectionsImage {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 15px;
}

.connectionsName {
    float: right;
    margin-right: 60px;
    margin-top: 60px;
}

.connectionsAccept {
    display: inline;
    justify-content: flex-end;
    float: right;
    padding-right: 10px;
}

.connectionsIgnore {
    color: red;
    padding-left: 190px;
}

.connectionsRemove {
    display: flex;
    justify-content: flex-end;
    color: red;
    padding-right: 10px;
}

.requestBtn li {
    display: inline;
}






