li {
    list-style: none;
}

.toggleRight {
  display: flex;
  justify-content: center;
  
  }

.connectionsImage {
    height: 100px;
    width: 100px;
    border-radius: 50%;
    margin-left: 20px;
    margin-top: 15px;
    /* padding-left: 15px;
    padding-top: 15px; */
}

.connectionsName {
    /* padding-left: 20px; */
    float: right;
    margin-right: 60px;
    margin-top: 60px;
    /* padding-top: 50px;
    padding-right: 60px; */
    /* display: flex; */
}

.connectionsAccept {
    display: inline;
    justify-content: flex-end;
}

.connectionsRemove {
    /* padding-left: 175px;
    padding-bottom: 10px; */
    display: flex;
    justify-content: flex-end;
    color: red;
}




